.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #fcfcfc;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.navbar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: -72px;
  z-index: 1;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.section__w3Nvt {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-height: 600px;
  background: url("./images/image3.png") top 50% left 50% / cover repeat;
  min-width: 0;
  display: none;
  padding: 72px;
}
.section__w3Nvt > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.section__w3Nvt > :global(.__wab_flex-container) > *,
.section__w3Nvt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section__w3Nvt > :global(.__wab_flex-container) > picture > img,
.section__w3Nvt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__w3Nvt {
    background: url("./images/image3.png") top 50% right 30% / cover no-repeat,
      #ffffff;
  }
}
.section___6Zzw2 {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 120px 72px 32px;
}
.section___6Zzw2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.section___6Zzw2 > :global(.__wab_flex-container) > *,
.section___6Zzw2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section___6Zzw2 > :global(.__wab_flex-container) > picture > img,
.section___6Zzw2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section___6Zzw2 {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.slider:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.eventCard__ydY5A:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 300px;
  min-width: 0;
}
.eventCard__fb2Km:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 300px;
  min-width: 0;
}
.section__xI {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 72px;
}
.section__xI > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.section__xI > :global(.__wab_flex-container) > *,
.section__xI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section__xI > :global(.__wab_flex-container) > picture > img,
.section__xI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__xI {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.freeBox__o5E3M {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1300px;
  min-width: 0;
  padding: 8px;
}
.freeBox__o5E3M > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__o5E3M > :global(.__wab_flex-container) > *,
.freeBox__o5E3M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o5E3M > :global(.__wab_flex-container) > picture > img,
.freeBox__o5E3M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__lzGcF {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  max-width: 100%;
  background: none;
  flex-shrink: 0;
  border-radius: 35px;
  padding: 8px;
}
.svg___5VjoK {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: var(--token-4-FEG9aDP);
  flex-shrink: 0;
}
.text__ewruh {
  width: auto;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  font-size: 28px;
  color: var(--token-3SJrINat2);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ewruh {
    font-size: 24px;
  }
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 54px;
}
.svg__kkgqv {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-3SJrINat2);
}
.text__fMisj {
  padding-right: 0px;
}
.svg__mofLt {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox___6DJxO {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1300px;
  min-width: 0;
  padding: 8px;
}
.freeBox___6DJxO > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___6DJxO > :global(.__wab_flex-container) > *,
.freeBox___6DJxO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6DJxO > :global(.__wab_flex-container) > picture > img,
.freeBox___6DJxO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
  margin-top: 24px;
}
.eventCard___8YMv4:global(.__wab_instance) {
  position: relative;
  width: 300px;
  flex-shrink: 0;
}
.text__ftXzT {
  padding-right: 0px;
}
.text__l8Zg {
  font-size: 18px;
  color: var(--token-92oqTiNW0);
}
.eventCard___55F0:global(.__wab_instance) {
  position: relative;
  height: auto;
  width: 300px;
  flex-shrink: 0;
}
.text__gqqiw {
  font-size: 18px;
  color: var(--token-92oqTiNW0);
}
.eventCard__tgmSx:global(.__wab_instance) {
  position: relative;
  width: 300px;
  flex-shrink: 0;
}
.text__awGl4 {
  width: auto;
}
.text__tYmuD {
  font-size: 18px;
  color: var(--token-92oqTiNW0);
}
.eventCard___29Fei:global(.__wab_instance) {
  position: relative;
  width: 300px;
  flex-shrink: 0;
}
.text__nLt7F {
  font-size: 18px;
  color: var(--token-92oqTiNW0);
}
.section__kRtgk {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 72px 72px;
}
.section__kRtgk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.section__kRtgk > :global(.__wab_flex-container) > *,
.section__kRtgk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section__kRtgk > :global(.__wab_flex-container) > picture > img,
.section__kRtgk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__kRtgk {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.freeBox__xInL7 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1300px;
  min-width: 0;
  padding: 8px;
}
.freeBox__xInL7 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__xInL7 > :global(.__wab_flex-container) > *,
.freeBox__xInL7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xInL7 > :global(.__wab_flex-container) > picture > img,
.freeBox__xInL7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__x26X {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  max-width: 100%;
  background: none;
  flex-shrink: 0;
  border-radius: 35px;
  padding: 8px;
}
.svg___7RYjy {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: var(--token-4-FEG9aDP);
  flex-shrink: 0;
}
.text___1QbHo {
  width: auto;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  font-size: 28px;
  color: var(--token-3SJrINat2);
}
.freeBox__ri0Ii {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1300px;
  min-width: 0;
  padding: 8px;
}
.freeBox__ri0Ii > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__ri0Ii > :global(.__wab_flex-container) > *,
.freeBox__ri0Ii > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ri0Ii > :global(.__wab_flex-container) > picture > img,
.freeBox__ri0Ii
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
  margin-top: 24px;
}
.eventCard__ay0F0:global(.__wab_instance) {
  position: relative;
  width: 300px;
  flex-shrink: 0;
}
.text__n2GaH {
  padding-right: 0px;
  height: auto;
}
.text__ey3GX {
  font-size: 18px;
  color: var(--token-92oqTiNW0);
}
.eventCard__bc3UQ:global(.__wab_instance) {
  position: relative;
  height: auto;
  width: 300px;
  flex-shrink: 0;
}
.text___2Xbc {
  font-size: 18px;
  color: var(--token-92oqTiNW0);
}
.eventCard__zmR5F:global(.__wab_instance) {
  position: relative;
  width: 300px;
  flex-shrink: 0;
}
.text___2ClR {
  width: auto;
}
.text__mNaPb {
  font-size: 18px;
  color: var(--token-92oqTiNW0);
}
.eventCard__mCjJx:global(.__wab_instance) {
  position: relative;
  width: 300px;
  flex-shrink: 0;
}
.text___5Styr {
  font-size: 18px;
  color: var(--token-92oqTiNW0);
}
.section__bnHau {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 0px 72px 72px;
}
.section__bnHau > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.section__bnHau > :global(.__wab_flex-container) > *,
.section__bnHau > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section__bnHau > :global(.__wab_flex-container) > picture > img,
.section__bnHau
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__bnHau {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.freeBox__ijRk {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1300px;
  min-width: 0;
  padding: 8px;
}
.freeBox__ijRk > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__ijRk > :global(.__wab_flex-container) > *,
.freeBox__ijRk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ijRk > :global(.__wab_flex-container) > picture > img,
.freeBox__ijRk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__vNIek {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  max-width: 100%;
  background: none;
  flex-shrink: 0;
  border-radius: 35px;
  padding: 8px;
}
.svg__g7UnM {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: var(--token-4-FEG9aDP);
  flex-shrink: 0;
}
.text__aRjNn {
  width: auto;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  font-size: 28px;
  color: var(--token-3SJrINat2);
}
.graphQlFetcher:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.freeBox__jupik {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1300px;
  min-width: 0;
  padding: 8px;
}
.freeBox__jupik > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__jupik > :global(.__wab_flex-container) > *,
.freeBox__jupik > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jupik > :global(.__wab_flex-container) > picture > img,
.freeBox__jupik
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
  margin-top: 24px;
}
.eventCard___2YXaR:global(.__wab_instance) {
  position: relative;
  width: 300px;
  flex-shrink: 0;
}
.text__e3BkA {
  padding-right: 0px;
  height: auto;
}
.text__mSV {
  font-size: 18px;
  color: var(--token-92oqTiNW0);
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
