.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  transition-property: background;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  min-width: 0;
  min-height: 0;
  -webkit-transition-property: background;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 300ms;
}
@media (min-width: 0px) and (max-width: 768px) {
  .wrapper {
    justify-content: center;
    align-items: flex-start;
  }
}
.wrapper:hover {
  background: var(--token-4-FEG9aDP);
}
.link {
  flex-direction: column;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  min-width: 0;
  min-height: 0;
  padding: 24px;
}
.link > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.link > :global(.__wab_flex-container) > *,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link > :global(.__wab_flex-container) > picture > img,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link {
    display: flex;
    flex-direction: column;
    height: auto;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link > :global(.__wab_flex-container) > *,
  .link > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link > :global(.__wab_flex-container) > picture > img,
  .link
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__hc1Bd {
  flex-direction: column;
  display: flex;
  position: absolute;
  width: auto;
  height: auto;
  left: auto;
  top: 30%;
}
.freeBox__hc1Bd > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__hc1Bd > :global(.__wab_flex-container) > *,
.freeBox__hc1Bd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hc1Bd > :global(.__wab_flex-container) > picture > img,
.freeBox__hc1Bd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hc1Bd {
    left: auto;
    top: auto;
    position: relative;
  }
}
.wrapper:hover .freeBox__hc1Bd {
  display: flex;
}
.freeBox__zElt7 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__zElt7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__zElt7 > :global(.__wab_flex-container) > *,
.freeBox__zElt7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zElt7 > :global(.__wab_flex-container) > picture > img,
.freeBox__zElt7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zElt7 {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zElt7 > :global(.__wab_flex-container) {
    flex-direction: row;
    margin-left: calc(0px - 12px);
    width: calc(100% + 12px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zElt7 > :global(.__wab_flex-container) > *,
  .freeBox__zElt7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zElt7 > :global(.__wab_flex-container) > picture > img,
  .freeBox__zElt7
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 12px;
    margin-top: 0px;
  }
}
.slotTargetSlot {
  color: var(--token-4-FEG9aDP);
}
.slotTargetSlot > *,
.slotTargetSlot > :global(.__wab_slot) > *,
.slotTargetSlot > :global(.__wab_slot) > :global(.__wab_slot) > *,
.slotTargetSlot
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.slotTargetSlot > picture > img,
.slotTargetSlot > :global(.__wab_slot) > picture > img,
.slotTargetSlot > :global(.__wab_slot) > :global(.__wab_slot) > picture > img,
.slotTargetSlot
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  transition-property: color;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
  -webkit-transition-property: color;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 300ms;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slotTargetSlot {
    color: var(--token-4-FEG9aDP);
  }
}
.wrapper:hover .slotTargetSlot {
  color: var(--token-w9-U0XSzT);
}
.svg__smHOo {
  object-fit: cover;
  width: 32px;
  height: 48px;
  flex-shrink: 0;
}
.slotTargetChildren {
  font-size: 20px;
  color: var(--token-3SJrINat2);
}
@media (min-width: 0px) and (max-width: 768px) {
  .slotTargetChildren {
    font-weight: 400;
  }
}
.freeBox__ounid {
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 100%;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  height: auto;
  min-width: 0;
  display: none;
  -webkit-transition-property: opacity;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 300ms;
  padding: 8px 0px 0px;
}
.freeBox__ounid > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__ounid > :global(.__wab_flex-container) > *,
.freeBox__ounid > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ounid > :global(.__wab_flex-container) > picture > img,
.freeBox__ounid
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ounid {
    opacity: 1;
    transform: none;
    padding-left: 42px;
    flex-shrink: 1;
    flex-grow: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ounid > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    align-content: stretch;
  }
}
.freeBoxshowItems__ounidnty6I {
  display: flex;
}
.wrapper:hover .freeBox__ounid {
  opacity: 1;
  height: auto;
}
.wrapper:hover .freeBox__ounid > :global(.__wab_flex-container) {
  justify-content: flex-start;
  align-items: flex-start;
}
.slotTargetSubitems {
  font-size: 12px;
}
.slotTargetSubitems > *,
.slotTargetSubitems > :global(.__wab_slot) > *,
.slotTargetSubitems > :global(.__wab_slot) > :global(.__wab_slot) > *,
.slotTargetSubitems
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.slotTargetSubitems > picture > img,
.slotTargetSubitems > :global(.__wab_slot) > picture > img,
.slotTargetSubitems
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.slotTargetSubitems
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: opacity;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 300ms;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slotTargetSubitems {
    color: var(--token-3SJrINat2);
  }
}
.wrapper:hover .slotTargetSubitems > *,
.wrapper:hover .slotTargetSubitems > :global(.__wab_slot) > *,
.wrapper:hover
  .slotTargetSubitems
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.wrapper:hover
  .slotTargetSubitems
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.wrapper:hover .slotTargetSubitems > picture > img,
.wrapper:hover .slotTargetSubitems > :global(.__wab_slot) > picture > img,
.wrapper:hover
  .slotTargetSubitems
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.wrapper:hover
  .slotTargetSubitems
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  opacity: 1;
}
.button___12Sef:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__c71PD {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__afszk {
  color: var(--token-3SJrINat2);
}
.svg__wyYto {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__vM9Uw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__xpcy2 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___7TyW7 {
  color: var(--token-3SJrINat2);
}
.svg__fwn4Q {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__ieRbO:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__byLGt {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__ajwyl {
  color: var(--token-3SJrINat2);
}
.svg__n3Ya2 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
