.wrapper {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  margin-right: 0px;
  height: auto;
  background: var(--token-w9-U0XSzT);
  box-shadow: none;
  min-width: 0;
  padding: 24px 12px;
}
.wrapper > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.wrapper > :global(.__wab_flex-container) > *,
.wrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.wrapper > :global(.__wab_flex-container) > picture > img,
.wrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .wrapper {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.columns__k6By {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px 72px;
  border-top: 1px solid var(--token-92oqTiNW0);
  border-bottom: 1px solid var(--token-92oqTiNW0);
}
.columns__k6By > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.columns__k6By > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 12px) * 4 / 12);
}
.columns__k6By > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 12px) * 4 / 12);
}
.columns__k6By > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 12px) * 4 / 12);
}
.columns__k6By > :global(.__wab_flex-container) > *,
.columns__k6By > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__k6By > :global(.__wab_flex-container) > picture > img,
.columns__k6By
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__k6By {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__k6By > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__k6By > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 8px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__k6By > :global(.__wab_flex-container) > *,
  .columns__k6By > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__k6By > :global(.__wab_flex-container) > picture > img,
  .columns__k6By
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
  }
}
.column__vvN3L {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__vvN3L {
    justify-content: center;
    align-items: center;
  }
}
.logo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 24px;
  flex-shrink: 0;
}
.column__wlwQj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__wlwQj {
    align-items: stretch;
  }
}
.freeBox__zEGxq {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__zEGxq > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__zEGxq > :global(.__wab_flex-container) > *,
.freeBox__zEGxq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zEGxq > :global(.__wab_flex-container) > picture > img,
.freeBox__zEGxq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zEGxq > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
  }
}
.button__hmChc:global(.__wab_instance) {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}
.svg___4G6Hz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: var(--token-3SJrINat2);
}
.svg__ev0HE {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__tuMsh:global(.__wab_instance) {
  position: relative;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}
.svg___4TMak {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: var(--token-3SJrINat2);
}
.svg__qxRtL {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__pRVu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__pRVu {
    justify-content: center;
    align-items: center;
    display: flex;
  }
}
.freeBox___5DGb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__mMxgn {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__mMxgn > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__mMxgn > :global(.__wab_flex-container) > *,
.freeBox__mMxgn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mMxgn > :global(.__wab_flex-container) > picture > img,
.freeBox__mMxgn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.button___3Jet7:global(.__wab_instance) {
  position: relative;
  height: 48px;
}
.svg__qoIvC {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: var(--token-3SJrINat2);
}
.svg___9EEoB {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.columns__oywcy {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px 72px;
  border-bottom: 1px solid var(--token-92oqTiNW0);
}
.columns__oywcy > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__oywcy > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__oywcy > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oywcy {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oywcy > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___4PoXs {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column___4PoXs > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.column___4PoXs > :global(.__wab_flex-container) > *,
.column___4PoXs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___4PoXs > :global(.__wab_flex-container) > picture > img,
.column___4PoXs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___4PoXs > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: flex-start;
  }
}
.button__cfBss:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
  flex-shrink: 0;
}
.svg__xYcnq {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__htgGs {
  font-size: 14px;
  color: var(--token-3SJrINat2);
  font-weight: 400;
}
.svg__alF2W {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__u4D8K:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
  flex-shrink: 0;
}
.svg__hdhXx {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___5DTq9 {
  font-size: 14px;
  color: var(--token-3SJrINat2);
  font-weight: 400;
}
.svg___8A2Vh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__nTcMf {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__nTcMf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.column__nTcMf > :global(.__wab_flex-container) > *,
.column__nTcMf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__nTcMf > :global(.__wab_flex-container) > picture > img,
.column__nTcMf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__nTcMf > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: flex-start;
  }
}
.button__lz53Q:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
  flex-shrink: 0;
}
.svg__cOnXu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__nn4AG {
  font-size: 14px;
  color: var(--token-3SJrINat2);
  font-weight: 400;
}
.svg__jiBil {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__qzf77:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
  height: auto;
}
.svg__jd6Sm {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__xaEaz {
  font-size: 14px;
  color: var(--token-3SJrINat2);
  font-weight: 400;
}
.svg__olUC {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__ttjDl {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__ttjDl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.column__ttjDl > :global(.__wab_flex-container) > *,
.column__ttjDl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__ttjDl > :global(.__wab_flex-container) > picture > img,
.column__ttjDl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ttjDl > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: flex-start;
  }
}
.button___06PP:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
  flex-shrink: 0;
}
.svg__jZy6V {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__sIhbE {
  font-size: 14px;
  color: var(--token-3SJrINat2);
  font-weight: 400;
}
.svg__sYmY3 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__wvm0P:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
  flex-shrink: 0;
}
.svg__orc3P {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__kcV3C {
  font-size: 14px;
  color: var(--token-3SJrINat2);
  font-weight: 400;
}
.svg___7XkIa {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__qQnZx {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__qQnZx > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__qQnZx > :global(.__wab_flex-container) > *,
.freeBox__qQnZx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qQnZx > :global(.__wab_flex-container) > picture > img,
.freeBox__qQnZx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.button__hdFz:global(.__wab_instance) {
  max-width: 100%;
}
.svg__iHwTz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: var(--token-4-FEG9aDP);
}
.text___4Auh {
  font-size: 14px;
  width: auto;
  color: var(--token-3SJrINat2);
}
.svg__ffjnt {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__riZsB:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__b5TeK {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: var(--token-4-FEG9aDP);
}
.text___4Cgif {
  font-size: 14px;
  color: var(--token-3SJrINat2);
}
.svg__hyYqc {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__usfrG {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__x5Jn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 14px;
  min-width: 0;
}
.freeBox__grbVu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button__g0Jq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
  height: 33px;
}
.svg__iEZA {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__h8F8M {
  font-size: 14px;
  color: var(--token-3SJrINat2);
  font-weight: 400;
}
.svg__ywT9T {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__hoH8S {
  display: block;
  position: relative;
  width: 1px;
  height: auto;
  max-width: 100%;
  background: var(--token-92oqTiNW0);
  flex-shrink: 0;
}
.button__enSxo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
  height: 33px;
}
.svg__uyEo9 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__d60Jy {
  font-size: 14px;
  color: var(--token-3SJrINat2);
  font-weight: 400;
}
.svg__bd16H {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
