.wrapper {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--token-RTfEpJ4ED);
  padding-top: 0px;
  min-width: 0;
  min-height: 0;
}
.wrapper > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .wrapper {
    flex-grow: 1;
    overflow: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .wrapper > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .wrapper > :global(.__wab_flex-container) > *,
  .wrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .wrapper > :global(.__wab_flex-container) > picture > img,
  .wrapper
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__mva6N {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__mva6N > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mva6N {
    display: flex;
    flex-direction: column;
    padding-top: 72px;
    height: auto;
    flex-shrink: 0;
    position: relative;
    left: auto;
    top: auto;
    align-self: auto;
    flex-grow: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mva6N > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    align-content: stretch;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mva6N > :global(.__wab_flex-container) > *,
  .freeBox__mva6N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__mva6N > :global(.__wab_flex-container) > picture > img,
  .freeBox__mva6N
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.mainMenuItem__pht2V:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mainMenuItem__pht2V:global(.__wab_instance) {
    height: auto;
    flex-shrink: 0;
  }
}
.svg__m4Kko {
  object-fit: cover;
  width: 32px;
  height: 48px;
}
.freeBox__zfcwq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1px;
  height: auto;
  max-width: 100%;
  background: #dddddd;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zfcwq {
    display: none;
  }
}
.mainMenuItem__vhAYl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__gZlwk {
  object-fit: cover;
  width: 32px;
  height: 48px;
}
.button__g4AcS:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: auto;
}
.svg__lvztH {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__e6Gat {
  font-size: 14px;
  color: var(--token-3SJrINat2);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__e6Gat {
    font-size: 12px;
  }
}
.svg__djUPw {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__ivkO3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__pwe6H {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__qpruv {
  font-size: 14px;
  color: var(--token-3SJrINat2);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qpruv {
    font-size: 12px;
  }
}
.svg__ifZ7P {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__eljy1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1px;
  height: auto;
  max-width: 100%;
  background: #dddddd;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eljy1 {
    display: none;
  }
}
.mainMenuItem__kLxVa:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__xb8Mx {
  object-fit: cover;
  width: 32px;
  height: 48px;
}
.button__oq4Mp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: flex;
}
.svg__jLuf {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__n0IL {
  font-size: 14px;
  color: var(--token-3SJrINat2);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__n0IL {
    font-size: 12px;
  }
}
.svg__jyrpl {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__dsLyg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: flex;
}
.svg___5Ayk2 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__hJ0Oq {
  font-size: 14px;
  color: var(--token-3SJrINat2);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hJ0Oq {
    font-size: 12px;
  }
}
.svg__hIPnd {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__kxh1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1px;
  height: auto;
  max-width: 100%;
  background: #dddddd;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kxh1 {
    display: none;
  }
}
.mainMenuItem__kmizi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 48px;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    height: 32px;
  }
}
.button___0LrkD:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___7NMaK {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__bEh1 {
  font-size: 14px;
  color: var(--token-3SJrINat2);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bEh1 {
    font-size: 12px;
  }
}
.svg__ps4BO {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button___0Q5R:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ukwy8 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__iDrx3 {
  font-size: 14px;
  color: var(--token-3SJrINat2);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__iDrx3 {
    font-size: 12px;
  }
}
.svg___0QhI7 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__iqR6B:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__llisq {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__i2OdL {
  font-size: 14px;
  color: var(--token-3SJrINat2);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__i2OdL {
    font-size: 12px;
  }
}
.svg__b7Pkx {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__dLvLp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___1T4Dw {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__zXuO {
  font-size: 14px;
  color: var(--token-3SJrINat2);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__zXuO {
    font-size: 12px;
  }
}
.svg__voOE {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__pHq4Z {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: auto;
  bottom: 0px;
  z-index: 2;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pHq4Z {
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
  }
}
.freeBox__r8Bnn {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__r8Bnn > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__r8Bnn > :global(.__wab_flex-container) > *,
.freeBox__r8Bnn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__r8Bnn > :global(.__wab_flex-container) > picture > img,
.freeBox__r8Bnn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__r8Bnn {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__r8Bnn > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__r8Bnn > :global(.__wab_flex-container) > *,
  .freeBox__r8Bnn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__r8Bnn > :global(.__wab_flex-container) > picture > img,
  .freeBox__r8Bnn
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 8px;
  }
}
.button__pzcFg:global(.__wab_instance) {
  max-width: 100%;
}
.svg___7Vd1Z {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: var(--token-4-FEG9aDP);
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___7Vd1Z {
    color: var(--token-3SJrINat2);
  }
}
.text__nocAv {
  font-size: 14px;
  color: var(--token-3SJrINat2);
}
.svg__mEvVj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button___8YZi2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___3WDad {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: var(--token-4-FEG9aDP);
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___3WDad {
    color: var(--token-3SJrINat2);
  }
}
.text__e8L2A {
  font-size: 14px;
  color: var(--token-3SJrINat2);
}
.svg__llQdY {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__d6Yxh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___9QFzw {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: var(--token-4-FEG9aDP);
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___9QFzw {
    color: var(--token-3SJrINat2);
  }
}
.text__cuKcc {
  font-size: 14px;
  color: var(--token-3SJrINat2);
}
.svg__pmiBb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
