.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 100px;
  min-width: 0;
  min-height: 0;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.freeBox__gLwnf {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 72px 0px 24px;
}
.freeBox__gLwnf > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__gLwnf > :global(.__wab_flex-container) > *,
.freeBox__gLwnf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gLwnf > :global(.__wab_flex-container) > picture > img,
.freeBox__gLwnf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gLwnf {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.stepLabel___9TMpF:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slotTargetEventTitle4 {
    white-space: pre;
  }
}
.freeBox___5Yaby {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  max-width: 200px;
  background: var(--token-92oqTiNW0);
  min-width: 0;
}
.stepLabel__r7Rsr:global(.__wab_instance) {
  position: relative;
}
.freeBox__zMwzu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 72px 0px 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zMwzu {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.freeBox__y7MyW {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1080px;
  min-width: 0;
  padding: 0px;
}
.h2 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetEventTitle {
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  color: var(--token-3SJrINat2);
}
@media (min-width: 0px) and (max-width: 768px) {
  .slotTargetEventTitle {
    font-size: 24px;
  }
}
.freeBox__tzi5E {
  flex-direction: column;
  display: flex;
  position: relative;
  height: auto;
  max-width: 1080px;
  width: 100%;
  min-width: 0;
}
.freeBox__tzi5E > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__tzi5E > :global(.__wab_flex-container) > *,
.freeBox__tzi5E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tzi5E > :global(.__wab_flex-container) > picture > img,
.freeBox__tzi5E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tzi5E {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.freeBox___27Imi {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #fafafa;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  border-radius: 12px;
  padding: 24px;
  border: 2px solid var(--token-WtxzJLqpx);
}
.freeBox___27Imi > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox___27Imi > :global(.__wab_flex-container) > *,
.freeBox___27Imi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___27Imi > :global(.__wab_flex-container) > picture > img,
.freeBox___27Imi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___27Imi {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___27Imi > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___27Imi > :global(.__wab_flex-container) > *,
  .freeBox___27Imi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___27Imi > :global(.__wab_flex-container) > picture > img,
  .freeBox___27Imi
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__t7FFd {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__t7FFd > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__t7FFd > :global(.__wab_flex-container) > *,
.freeBox__t7FFd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t7FFd > :global(.__wab_flex-container) > picture > img,
.freeBox__t7FFd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__kjTe {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__kjTe > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__kjTe > :global(.__wab_flex-container) > *,
.freeBox__kjTe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kjTe > :global(.__wab_flex-container) > picture > img,
.freeBox__kjTe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.eventDate2 {
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetChildren3 {
  font-size: 16px;
  font-weight: 500;
  color: var(--token-92oqTiNW0);
  text-align: left;
}
.text__fzKkL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 18px;
  color: var(--token-3SJrINat2);
  font-weight: 700;
  min-width: 0;
}
.freeBox__ggume {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__ggume > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__ggume > :global(.__wab_flex-container) > *,
.freeBox__ggume > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ggume > :global(.__wab_flex-container) > picture > img,
.freeBox__ggume
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___3GXj5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-4-FEG9aDP);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.eventLocation3 {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  min-width: 0;
}
.eventLocation3 > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.eventLocation3 > :global(.__wab_flex-container) > *,
.eventLocation3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.eventLocation3 > :global(.__wab_flex-container) > picture > img,
.eventLocation3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .eventLocation3 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .eventLocation3 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .eventLocation3 > :global(.__wab_flex-container) > *,
  .eventLocation3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .eventLocation3 > :global(.__wab_flex-container) > picture > img,
  .eventLocation3
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.slotTargetChildren4 {
  font-size: 16px;
  font-weight: 500;
  color: var(--token-WtxzJLqpx);
  text-align: left;
}
.text__mjokZ {
  color: var(--token-3SJrINat2);
}
.text__igKiU {
  position: relative;
  color: var(--token-3SJrINat2);
}
.freeBox__nVgQf {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__nVgQf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__nVgQf > :global(.__wab_flex-container) > *,
.freeBox__nVgQf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nVgQf > :global(.__wab_flex-container) > picture > img,
.freeBox__nVgQf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox___6DjOy {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.button__gIwgc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__canpo {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: var(--token-3SJrINat2);
}
.text__jhyno {
  padding-left: 0px;
  font-size: 24px;
}
.svg__vKaho {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__ehEc5 {
  position: relative;
  width: 48px;
  height: 100%;
  max-width: 800px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  flex-shrink: 0;
  min-height: 0;
}
.button__s5E51:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__hvaTy {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: var(--token-3SJrINat2);
}
.text__rSTh8 {
  padding-left: 0px;
  font-size: 24px;
}
.svg___6NKra {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.select:global(.__wab_instance) {
  max-width: 100%;
}
.text___6Lnv6 {
  padding-left: 0px;
  color: var(--token-3SJrINat2);
}
.option__o146O:global(.__wab_instance) {
  position: relative;
}
.text__f1ORb {
  display: block;
}
.option__ny3BH:global(.__wab_instance) {
  position: relative;
}
.freeBox__b0FXy {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__b0FXy > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__b0FXy > :global(.__wab_flex-container) > *,
.freeBox__b0FXy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b0FXy > :global(.__wab_flex-container) > picture > img,
.freeBox__b0FXy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__b0FXy > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
  }
}
.freeBox___2Rl0W {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox___2Rl0W > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___2Rl0W > :global(.__wab_flex-container) > *,
.freeBox___2Rl0W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2Rl0W > :global(.__wab_flex-container) > picture > img,
.freeBox___2Rl0W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__btYM {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 16px;
  color: var(--token-3SJrINat2);
  font-weight: 700;
  text-align: center;
  min-width: 0;
}
.button___6Gk5C:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button___6Gk5C:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.svg__tAzGt {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: var(--token-w9-U0XSzT);
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__tAzGt {
    height: 1em;
    color: var(--token-WtxzJLqpx);
  }
}
.text__qR5K {
  padding-left: 0px;
}
.svg__kAdF9 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox___6Gh {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #fafafa;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  border-radius: 12px;
  padding: 24px;
  border: 1px solid #dddddd;
}
.freeBox___6Gh > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox___6Gh > :global(.__wab_flex-container) > *,
.freeBox___6Gh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6Gh > :global(.__wab_flex-container) > picture > img,
.freeBox___6Gh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6Gh {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6Gh > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6Gh > :global(.__wab_flex-container) > *,
  .freeBox___6Gh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___6Gh > :global(.__wab_flex-container) > picture > img,
  .freeBox___6Gh
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox___5RMxu {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___5RMxu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___5RMxu > :global(.__wab_flex-container) > *,
.freeBox___5RMxu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5RMxu > :global(.__wab_flex-container) > picture > img,
.freeBox___5RMxu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__zbUuy {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__zbUuy > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__zbUuy > :global(.__wab_flex-container) > *,
.freeBox__zbUuy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zbUuy > :global(.__wab_flex-container) > picture > img,
.freeBox__zbUuy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.eventDate5 {
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetChildren9 {
  font-size: 16px;
  font-weight: 500;
  color: var(--token-92oqTiNW0);
  text-align: left;
}
.text__glhDy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 18px;
  color: var(--token-3SJrINat2);
  font-weight: 700;
  min-width: 0;
}
.freeBox__aByCb {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__aByCb > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__aByCb > :global(.__wab_flex-container) > *,
.freeBox__aByCb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aByCb > :global(.__wab_flex-container) > picture > img,
.freeBox__aByCb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__t8P5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-4-FEG9aDP);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.eventLocation6 {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  min-width: 0;
}
.eventLocation6 > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.eventLocation6 > :global(.__wab_flex-container) > *,
.eventLocation6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.eventLocation6 > :global(.__wab_flex-container) > picture > img,
.eventLocation6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .eventLocation6 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .eventLocation6 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .eventLocation6 > :global(.__wab_flex-container) > *,
  .eventLocation6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .eventLocation6 > :global(.__wab_flex-container) > picture > img,
  .eventLocation6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.slotTargetChildren10 {
  font-size: 16px;
  font-weight: 500;
  color: var(--token-WtxzJLqpx);
  text-align: left;
}
.text___42Flr {
  color: var(--token-3SJrINat2);
}
.text__fbtj4 {
  position: relative;
  color: var(--token-3SJrINat2);
}
.freeBox__nMsPi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___38Eqn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.button__xp1Og:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__mp6GQ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: var(--token-3SJrINat2);
}
.text___1GDn {
  padding-left: 0px;
  font-size: 24px;
}
.svg__beEav {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__s9Wjr {
  position: relative;
  width: 48px;
  height: 100%;
  max-width: 800px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  flex-shrink: 0;
  min-height: 0;
}
.button__t49S0:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__yXne {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: var(--token-3SJrINat2);
}
.text__tkXig {
  padding-left: 0px;
  font-size: 24px;
}
.svg__cm7Rk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__fuBVh {
  position: relative;
  color: var(--token-w9-U0XSzT);
  background: var(--token-4-FEG9aDP);
  border-radius: 8px;
  padding: 4px 8px;
}
.freeBox__mfLHm {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__mfLHm > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__mfLHm > :global(.__wab_flex-container) > *,
.freeBox__mfLHm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mfLHm > :global(.__wab_flex-container) > picture > img,
.freeBox__mfLHm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mfLHm > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
  }
}
.freeBox__lvVp {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__lvVp > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__lvVp > :global(.__wab_flex-container) > *,
.freeBox__lvVp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lvVp > :global(.__wab_flex-container) > picture > img,
.freeBox__lvVp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__tY18R {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 16px;
  color: var(--token-3SJrINat2);
  font-weight: 700;
  text-align: center;
  min-width: 0;
}
.button__oIpt8:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.svg__fifam {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: var(--token-w9-U0XSzT);
}
.text__dNyIy {
  padding-left: 0px;
}
.svg__jZoQm {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__pmBg3 {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #fafafa;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  border-radius: 12px;
  padding: 24px;
  border: 1px solid #dddddd;
}
.freeBox__pmBg3 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__pmBg3 > :global(.__wab_flex-container) > *,
.freeBox__pmBg3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pmBg3 > :global(.__wab_flex-container) > picture > img,
.freeBox__pmBg3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pmBg3 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pmBg3 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pmBg3 > :global(.__wab_flex-container) > *,
  .freeBox__pmBg3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pmBg3 > :global(.__wab_flex-container) > picture > img,
  .freeBox__pmBg3
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__a3ULd {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__a3ULd > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__a3ULd > :global(.__wab_flex-container) > *,
.freeBox__a3ULd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a3ULd > :global(.__wab_flex-container) > picture > img,
.freeBox__a3ULd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__geUaf {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__geUaf > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__geUaf > :global(.__wab_flex-container) > *,
.freeBox__geUaf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__geUaf > :global(.__wab_flex-container) > picture > img,
.freeBox__geUaf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.eventDate3 {
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetChildren5 {
  font-size: 16px;
  font-weight: 500;
  color: var(--token-92oqTiNW0);
  text-align: left;
}
.text__oJpSl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 18px;
  color: var(--token-3SJrINat2);
  font-weight: 700;
  min-width: 0;
}
.freeBox___0Ei {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___0Ei > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___0Ei > :global(.__wab_flex-container) > *,
.freeBox___0Ei > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0Ei > :global(.__wab_flex-container) > picture > img,
.freeBox___0Ei
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__xXvU {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-4-FEG9aDP);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.eventLocation4 {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  min-width: 0;
}
.eventLocation4 > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.eventLocation4 > :global(.__wab_flex-container) > *,
.eventLocation4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.eventLocation4 > :global(.__wab_flex-container) > picture > img,
.eventLocation4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.slotTargetChildren6 {
  font-size: 16px;
  font-weight: 500;
  color: var(--token-WtxzJLqpx);
  text-align: left;
}
.text___1TeXv {
  color: var(--token-3SJrINat2);
}
.text___9MW9Q {
  position: relative;
  color: var(--token-3SJrINat2);
}
.freeBox__vJ84O {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__vJ84O > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__vJ84O > :global(.__wab_flex-container) > *,
.freeBox__vJ84O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vJ84O > :global(.__wab_flex-container) > picture > img,
.freeBox__vJ84O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vJ84O > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
  }
}
.freeBox__xAjA3 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__xAjA3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__xAjA3 > :global(.__wab_flex-container) > *,
.freeBox__xAjA3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xAjA3 > :global(.__wab_flex-container) > picture > img,
.freeBox__xAjA3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___8Ssfr {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 16px;
  color: var(--token-3SJrINat2);
  font-weight: 700;
  text-align: center;
  min-width: 0;
}
.button__zx0Vl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.svg__ycdef {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__wIfNr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__il0Ol {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f5f5f5;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  border-radius: 12px;
  padding: 24px;
  border: 1px solid #dddddd;
}
.freeBox__il0Ol > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__il0Ol > :global(.__wab_flex-container) > *,
.freeBox__il0Ol > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__il0Ol > :global(.__wab_flex-container) > picture > img,
.freeBox__il0Ol
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__il0Ol {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__il0Ol > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__il0Ol > :global(.__wab_flex-container) > *,
  .freeBox__il0Ol > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__il0Ol > :global(.__wab_flex-container) > picture > img,
  .freeBox__il0Ol
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__jja5T {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__jja5T > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__jja5T > :global(.__wab_flex-container) > *,
.freeBox__jja5T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jja5T > :global(.__wab_flex-container) > picture > img,
.freeBox__jja5T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox___7YNxG {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___7YNxG > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___7YNxG > :global(.__wab_flex-container) > *,
.freeBox___7YNxG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7YNxG > :global(.__wab_flex-container) > picture > img,
.freeBox___7YNxG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.eventDate4 {
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetChildren7 {
  font-size: 16px;
  font-weight: 500;
  color: var(--token-92oqTiNW0);
  text-align: left;
}
.text__mdg7L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 18px;
  color: var(--token-KoT8W7skS);
  font-weight: 700;
  min-width: 0;
}
.freeBox__z1Xd4 {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__z1Xd4 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__z1Xd4 > :global(.__wab_flex-container) > *,
.freeBox__z1Xd4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__z1Xd4 > :global(.__wab_flex-container) > picture > img,
.freeBox__z1Xd4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__hk1QG {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-KoT8W7skS);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.eventLocation5 {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  min-width: 0;
}
.eventLocation5 > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.eventLocation5 > :global(.__wab_flex-container) > *,
.eventLocation5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.eventLocation5 > :global(.__wab_flex-container) > picture > img,
.eventLocation5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .eventLocation5 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .eventLocation5 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .eventLocation5 > :global(.__wab_flex-container) > *,
  .eventLocation5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .eventLocation5 > :global(.__wab_flex-container) > picture > img,
  .eventLocation5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.slotTargetChildren8 {
  font-size: 16px;
  font-weight: 500;
  color: var(--token-WtxzJLqpx);
  text-align: left;
}
.text__wo4Gh {
  color: var(--token-KoT8W7skS);
}
.text__gtTCp {
  position: relative;
  color: var(--token-KoT8W7skS);
}
.freeBox__gw54N {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__qgE07 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.button__tvw0N:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__rBgb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: var(--token-3SJrINat2);
}
.text__jqMEe {
  padding-left: 0px;
  font-size: 24px;
}
.svg__t3Tsp {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___9JIpH {
  position: relative;
  width: 48px;
  height: 100%;
  max-width: 800px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: var(--token-KoT8W7skS);
  flex-shrink: 0;
  min-height: 0;
}
.button__l1M3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__dpWt3 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: var(--token-3SJrINat2);
}
.text__ic7E4 {
  padding-left: 0px;
  font-size: 24px;
}
.svg__y6PtT {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__sen0A {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__sen0A > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__sen0A > :global(.__wab_flex-container) > *,
.freeBox__sen0A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sen0A > :global(.__wab_flex-container) > picture > img,
.freeBox__sen0A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sen0A > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
  }
}
.freeBox__dphIc {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__dphIc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__dphIc > :global(.__wab_flex-container) > *,
.freeBox__dphIc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dphIc > :global(.__wab_flex-container) > picture > img,
.freeBox__dphIc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__gqusa {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 16px;
  color: var(--token-KoT8W7skS);
  font-weight: 700;
  text-align: center;
  min-width: 0;
}
.button__uN18D:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__uN18D:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.svg__lca73 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__axbkI {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__hHQm1 {
  flex-direction: row;
  display: flex;
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #00000033;
  left: 0;
  top: auto;
  z-index: 1;
  background: var(--token-RTfEpJ4ED);
  right: 0;
  bottom: 0;
  padding: 8px 42px;
}
.freeBox__hHQm1 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__hHQm1 > :global(.__wab_flex-container) > *,
.freeBox__hHQm1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hHQm1 > :global(.__wab_flex-container) > picture > img,
.freeBox__hHQm1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.freeBox___85Fk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox___1AVtM {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___1AVtM > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.freeBox___1AVtM > :global(.__wab_flex-container) > *,
.freeBox___1AVtM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1AVtM > :global(.__wab_flex-container) > picture > img,
.freeBox___1AVtM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.text___5DMtd {
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: right;
  font-size: 22px;
  font-weight: 700;
  color: #535353;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___5DMtd {
    font-size: 18px;
  }
}
.text__fqxy {
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: right;
  font-size: 22px;
  font-weight: 700;
  color: var(--token-4-FEG9aDP);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fqxy {
    font-size: 18px;
  }
}
.text__mtPSk {
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: right;
  font-size: 22px;
  font-weight: 700;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__mtPSk {
    font-size: 18px;
  }
}
.freeBox__ici51 {
  display: block;
  position: relative;
  width: 1px;
  height: 100%;
  max-width: 100%;
  margin-left: 8px;
  margin-right: 8px;
  background: var(--token-92oqTiNW0);
  min-height: 48px;
  flex-shrink: 0;
  padding: 0px;
}
.text__tyDyS {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 22px;
  font-weight: 700;
  white-space: pre;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tyDyS {
    font-size: 18px;
  }
}
.button__lurm6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__zRueE {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___9Ma2W {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
