.wrapper {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: 72px;
  background: none;
  padding-right: 24px;
  min-height: 60px;
  max-height: 120px;
  min-width: 0;
}
.wrapper > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.wrapper > :global(.__wab_flex-container) > *,
.wrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.wrapper > :global(.__wab_flex-container) > picture > img,
.wrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .wrapper {
    padding-right: 12px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .wrapper > :global(.__wab_flex-container) {
    justify-content: space-between;
  }
}
.freeBox__s9PZp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  background: none;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__s9PZp {
    height: 100%;
    min-height: 0;
  }
}
.freeBox___1Borr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  background: none;
  padding-right: 12px;
  margin-right: -2px;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1Borr {
    max-width: none;
  }
}
.menuToggle:global(.__wab_instance) {
  height: 100%;
  min-height: 0;
}
.freeBox__sf17 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  z-index: 2;
  min-width: 0;
  min-height: 0;
  padding: 8px 12px 8px 8px;
}
.link {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.logo:global(.__wab_instance) {
  max-width: 100%;
  height: 38px;
  width: auto;
  min-width: 120px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .logo:global(.__wab_instance) {
    min-width: 120px;
  }
}
.freeBox__c1AL1 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__c1AL1 {
    display: none;
  }
}
.freeBox__wgxXr {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px;
}
.freeBox__wgxXr > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__wgxXr > :global(.__wab_flex-container) > *,
.freeBox__wgxXr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wgxXr > :global(.__wab_flex-container) > picture > img,
.freeBox__wgxXr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wgxXr {
    display: none;
  }
}
.button__kHuIg:global(.__wab_instance) {
  max-width: 100%;
  height: 54px;
}
.svg__iwTjt {
  position: relative;
  object-fit: cover;
  width: 22px;
  height: 22px;
  color: var(--token-3SJrINat2);
}
.text__wtmHs {
  padding-right: 0px;
}
.svg__keBhh {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__g7BpX:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 54px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__g7BpX:global(.__wab_instance) {
    display: flex;
  }
}
.svg__knmee {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: var(--token-3SJrINat2);
}
.text__nrnaL {
  padding-right: 0px;
}
.svg__onrfP {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__veg8A:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 54px;
}
.svg__muIt5 {
  position: relative;
  object-fit: cover;
  width: 22px;
  height: 22px;
  color: var(--token-3SJrINat2);
}
.text__bytFj {
  padding-right: 0px;
}
.svg___5Rmjl {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__mqRej {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  z-index: 2;
}
.freeBox__mqRej > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__mqRej > :global(.__wab_flex-container) > *,
.freeBox__mqRej > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mqRej > :global(.__wab_flex-container) > picture > img,
.freeBox__mqRej
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.button__lR0Wc:global(.__wab_instance) {
  position: relative;
  height: 54px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__lR0Wc:global(.__wab_instance) {
    width: 54px;
    flex-shrink: 0;
  }
}
.svg__rSLaz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-3SJrINat2);
}
.svg__rMZl {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__y8O0X:global(.__wab_instance) {
  position: relative;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}
.svg__lqa9 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-3SJrINat2);
}
.svg__rItZ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
